﻿
@{
    ViewBag.Title = "HKQTraveling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="submit">
    <style>
/*        .submit {
            margin-top: 15%;
        }*/

        h2 {
            display: grid;
            place-items: center;
            padding-bottom: 36px;
            font-size: 36px;
        }

        /*button {
            margin-top: 48px;
            margin-right: 130px;
        }*/

        a {
            text-decoration: none;
            color: #fff;
            margin-bottom: 4px;
        }
    </style>
    <h2>Bạn đã đặt thành công!</h2>
    <h2>Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất!</h2>
    <a class="btn btn-outline-primary float-end" href="@Url.Action("Index", "Home")">TRANG CHỦ</a>
</div>