
@{
    ViewBag.Title = "findAccountToSendPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("findAccountToSendPassword", "Guest", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
    {
        @Html.ValidationSummary(true)

        <h2 class="text-center">Đổi mật khẩu</h2>

        <div class="form-group">
            <label for="userName">Tên tài khoản:</label>
            <input class="form-control" type="text" id="userName" name="userName" />
        </div>

        <div class="form-group">
            <label for="eMail">Email của bạn:</label>
            <input class="form-control" type="text" id="eMail" name="eMail" />
        </div>

        <div class="text-center">
            <button class="btn btn-outline-primary" type="submit">Tìm tài khoản</button>
        </div>
    }
</div>

<script>
    function successFunction() {
        var message = "@Html.Raw(ViewData["Message_forgotPassword"]);
        alert(message);
    }
</script>

