@model HKQTravel.Models.flight_brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="col-md-6">
            <strong class="text-danger">
                CHI TIẾT CHUYẾN HÃNG MÁY BAY
            </strong>
        </div>
    </div>
    <div class="card-body">

        <dl class="row">
            <dt class="col-sm-3">
                <label for="name"> Tên hãng máy bay</label>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.flight_brand_name)
            </dd>

            <dt class="col-sm-3">
                <label for="name">Ảnh hãng máy bay</label>
            </dt>
            <dd class="col-sm-9">
                <td><img src="@Url.Content(Model.flight_brand_image)" width="150" height="100" /></td>
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="@Url.Action("Edit","Flight_Brand",new { id = Model.flight_brand_id })" class="btn btn-sm btn-success">Sửa</a>
            <a href="@Url.Action("","Flight_Brand")" class="btn btn-sm btn-primary"> <i class="fas fa-arrow-circle-left"></i>Về lại danh sách</a>
        </div>
    </div>
</div>